body{
    height: 100vh;
}
.container{
    margin:20px;
}
.lista-de-imagens{
    display: fl;
}
.lista-de-imagens ul{
    display: flex;
    width: 90vw;
    gap: 10px;
}
.lista-de-imagens img{
    width: 100%;
}
.lista-de-imagens .legenda{
    transform: translateY(-5em);
    color: #fff;
    margin-left: 20px;
}
.lista-de-imagens .legenda h3{
    margin-block: 5px;
}